html {
    font-size: 16px; /* valor predeterminado */
    scroll-behavior: smooth;
  }
  
  .section-titles {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}


/* IMG con TEXT dentro */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}


.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}







 